Dashboards/AvanceDashboard.json
[
    {
        "id": "1d8c128a74b26a4c",
        "type": "tab",
        "label": "Industria4_0",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c3f1bee918133d53",
        "type": "mqtt in",
        "z": "1d8c128a74b26a4c",
        "name": "",
        "topic": "datos/vibracion",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1bdbd5fea9c43a9d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 140,
        "wires": [
            [
                "324c0d79e3755393",
                "841f9d48b79edd11"
            ]
        ]
    },
    {
        "id": "0f347efb8db08e2e",
        "type": "mqtt in",
        "z": "1d8c128a74b26a4c",
        "name": "",
        "topic": "datos/operador",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1bdbd5fea9c43a9d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 460,
        "wires": [
            [
                "4f746874b8cbad0c",
                "589a8f9b7dbe664f",
                "5ca36d8c5d8ee760"
            ]
        ]
    },
    {
        "id": "4f746874b8cbad0c",
        "type": "function",
        "z": "1d8c128a74b26a4c",
        "name": "IdentificadorOperador",
        "func": "// msg.payload contiene el UID decimal recibido desde MQTT\nvar uid = msg.payload;\n\n// Mapear UID a nombre\nif (uid == \"3024565763\") {\n    msg.payload = \"Benito Juarez\";\n} else if (uid == \"3597117261\") {\n    msg.payload = \"Porfirio Diaz\";\n} else {\n    // Si no coincide con ningún UID conocido, puedes dejar el payload vacío o mantenerlo\n    msg.payload = \"UID desconocido\";\n}\n\n// Retornar el mensaje modificado\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 460,
        "wires": [
            [
                "25e6101a5e9af12a",
                "873002c0b0bc2447"
            ]
        ]
    },
    {
        "id": "589a8f9b7dbe664f",
        "type": "function",
        "z": "1d8c128a74b26a4c",
        "name": "Recuperar hora",
        "func": "// Obtener la hora actual\nvar now = new Date();\nvar year = now.getFullYear();\nvar month = (\"0\" + (now.getMonth() + 1)).slice(-2);\nvar day = (\"0\" + now.getDate()).slice(-2);\nvar hours = (\"0\" + now.getHours()).slice(-2);\nvar minutes = (\"0\" + now.getMinutes()).slice(-2);\nvar seconds = (\"0\" + now.getSeconds()).slice(-2);\n\nvar timestamp = year + \"-\" + month + \"-\" + day + \" \" + hours + \":\" + minutes + \":\" + seconds;\n\n// Recuperar valores guardados\nvar horaEntrada = context.get(\"horaEntrada\");\nvar horaSalida = context.get(\"horaSalida\");\n\n// Lógica de ciclos\nif (!horaEntrada) {\n    // Primer pase: guardar entrada\n    horaEntrada = timestamp;\n    horaSalida = null;\n    context.set(\"horaEntrada\", horaEntrada);\n    context.set(\"horaSalida\", horaSalida);\n\n} else if (!horaSalida) {\n    // Segundo pase: guardar salida\n    horaSalida = timestamp;\n    context.set(\"horaSalida\", horaSalida);\n\n} else {\n    // Tercer pase: iniciar nuevo ciclo\n    horaEntrada = timestamp; // nueva entrada\n    horaSalida = null;       // limpiar salida\n    context.set(\"horaEntrada\", horaEntrada);\n    context.set(\"horaSalida\", horaSalida);\n}\n\n// Enviar los valores\nmsg.payload = {\n    entrada: horaEntrada,\n    salida: horaSalida\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 540,
        "wires": [
            [
                "25e6101a5e9af12a",
                "d449a0218f5bb920",
                "ad9435d78ddbba88"
            ]
        ]
    },
    {
        "id": "324c0d79e3755393",
        "type": "function",
        "z": "1d8c128a74b26a4c",
        "name": "Separar datos",
        "func": "// Ejemplo de payload: \"ID:VIBRATION;X:1.84,Y:1.78,Z:2.17\"\nlet payload = msg.payload;\n\n// Separar la parte después del ';'\nlet parts = payload.split(';');\nif (parts.length < 2) {\n    msg.payload = { x: null, y: null, z: null };\n    return msg;\n}\n\n// Extraer los valores de X, Y, Z\nlet values = parts[1];  // \"X:1.84,Y:1.78,Z:2.17\"\nlet regex = /X:([-\\d.]+),Y:([-\\d.]+),Z:([-\\d.]+)/;\nlet match = values.match(regex);\n\nif (match) {\n    // Convertir a número y tomar valor absoluto\n    let x = Math.abs(parseFloat(match[1]));\n    let y = Math.abs(parseFloat(match[2]));\n    let z = Math.abs(parseFloat(match[3]));\n\n    msg.payload = { x: x, y: y, z: z };\n} else {\n    msg.payload = { x: null, y: null, z: null };\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 140,
        "wires": [
            [
                "978c0ead33dfc785",
                "eb01c78ab2ba3569",
                "68bda566a8b3a191",
                "b5de1ba0fd97a5a7",
                "bba2e62d8b6d7822",
                "137db044b8717853",
                "e758acb5f3bd93fa"
            ]
        ]
    },
    {
        "id": "978c0ead33dfc785",
        "type": "function",
        "z": "1d8c128a74b26a4c",
        "name": "guardar datos",
        "func": "// msg.payload = {x: 2253, y: 2201, z: 2687}\nvar now = new Date();\nvar timestamp = now.toISOString(); // YYYY-MM-DDTHH:MM:SS.sssZ\n\n// Convertir a CSV: timestamp,X,Y,Z\nmsg.payload = timestamp + \",\" + msg.payload.x + \",\" + msg.payload.y + \",\" + msg.payload.z + \"\\n\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "105c53861430b001",
        "type": "file",
        "z": "1d8c128a74b26a4c",
        "name": "",
        "filename": "D:\\7mo_semestre\\Proyecto\\industria_4_0\\datos\\datos_acelerometro.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1210,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "ad7c472b263afb57",
        "type": "file",
        "z": "1d8c128a74b26a4c",
        "name": "",
        "filename": "D:\\7mo_semestre\\Proyecto\\industria_4_0\\datos\\datos_operadores.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1010,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "25e6101a5e9af12a",
        "type": "function",
        "z": "1d8c128a74b26a4c",
        "name": "function 5",
        "func": "// msg.payload = nombre del operador (ya mapeado desde UID)\nvar nombre = msg.payload;\n\n// Agregar timestamp\nvar now = new Date();\nvar timestamp = now.toISOString(); // YYYY-MM-DDTHH:MM:SS.sssZ\n\n// Construir fila CSV: timestamp, nombre\nmsg.payload = timestamp + \",\" + nombre + \"\\n\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "841f9d48b79edd11",
        "type": "debug",
        "z": "1d8c128a74b26a4c",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 100,
        "wires": []
    },
    {
        "id": "5ca36d8c5d8ee760",
        "type": "debug",
        "z": "1d8c128a74b26a4c",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 420,
        "wires": []
    },
    {
        "id": "1a5a2eb09bc068a0",
        "type": "mqtt in",
        "z": "1d8c128a74b26a4c",
        "name": "",
        "topic": "datos/corriente",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1bdbd5fea9c43a9d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 760,
        "wires": [
            [
                "9150206e17d05814",
                "010fe0cf99a6f3c8"
            ]
        ]
    },
    {
        "id": "9150206e17d05814",
        "type": "debug",
        "z": "1d8c128a74b26a4c",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 720,
        "wires": []
    },
    {
        "id": "010fe0cf99a6f3c8",
        "type": "function",
        "z": "1d8c128a74b26a4c",
        "name": "limpiarCorriente",
        "func": "// Suponemos que el payload es un string como \"ID:CURRENT;VALUE:16.50\"\nvar payload = msg.payload;\n\n// Buscamos el valor después de \"VALUE:\"\nvar match = payload.match(/VALUE:([0-9.]+)/);\n\nif (match) {\n    // match[1] contiene solo el número\n    msg.payload = match[1];\n} else {\n    // Si no se encuentra, dejamos el payload vacío o lo que prefieras\n    msg.payload = null;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 760,
        "wires": [
            [
                "913142379bbf8ecd",
                "f7b7eea68eff085f"
            ]
        ]
    },
    {
        "id": "913142379bbf8ecd",
        "type": "function",
        "z": "1d8c128a74b26a4c",
        "name": "convertirNumero",
        "func": "// Suponemos que msg.payload es un string como \"16.50\"\nvar value = parseFloat(msg.payload);\n\n// Verificamos que sea un número válido\nif (!isNaN(value)) {\n    msg.payload = value;\n} else {\n    // Si no es válido, dejamos el valor en 0 o null según prefieras\n    msg.payload = 0;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 840,
        "wires": [
            [
                "26c8ace94c04f439"
            ]
        ]
    },
    {
        "id": "eb01c78ab2ba3569",
        "type": "function",
        "z": "1d8c128a74b26a4c",
        "name": "discretaizarVibracion",
        "func": "// Espera un payload con las aceleraciones en g:\n// Ejemplo: { \"x\": 0.12, \"y\": -0.05, \"z\": 1.02 }\n\nlet ax = Number(msg.payload.x);\nlet ay = Number(msg.payload.y);\nlet az = Number(msg.payload.z);\n\nif (isNaN(ax) || isNaN(ay) || isNaN(az)) {\n    node.warn(\"Datos inválidos: faltan ejes X, Y o Z\");\n    return null;\n}\n\n// Magnitud total del vector\nlet magnitude = Math.sqrt(ax * ax + ay * ay + az * az);\n\n// Quitamos la gravedad (1g)\nlet vibration = Math.abs(magnitude - 1);\n\n// Remapeamos del rango -5g..+5g a 0..1\nlet normalized = (vibration + 5) / 10;\n\n// Clipping al rango 0..1\nif (normalized > 1) normalized = 1;\nif (normalized < 0) normalized = 0;\n\n// UMBRAL: si está por debajo de 0.6 => reposo = 0\nif (normalized < 0.6) normalized = 0;\n\n// Salida para gauge\nmsg.payload = Number(normalized.toFixed(3));\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 220,
        "wires": [
            [
                "b5a08c1df63e729e"
            ]
        ]
    },
    {
        "id": "68bda566a8b3a191",
        "type": "ui-text",
        "z": "1d8c128a74b26a4c",
        "group": "fe3bc1800bd1234d",
        "order": 5,
        "width": 1,
        "height": 0,
        "name": "x",
        "label": "x = ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.x",
        "valueType": "msg",
        "x": 810,
        "y": 40,
        "wires": []
    },
    {
        "id": "b5de1ba0fd97a5a7",
        "type": "ui-text",
        "z": "1d8c128a74b26a4c",
        "group": "fe3bc1800bd1234d",
        "order": 6,
        "width": 1,
        "height": 0,
        "name": "y",
        "label": "y = ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.y",
        "valueType": "msg",
        "x": 810,
        "y": 80,
        "wires": []
    },
    {
        "id": "bba2e62d8b6d7822",
        "type": "ui-text",
        "z": "1d8c128a74b26a4c",
        "group": "fe3bc1800bd1234d",
        "order": 7,
        "width": 1,
        "height": 0,
        "name": "z",
        "label": "z = ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.z",
        "valueType": "msg",
        "x": 810,
        "y": 120,
        "wires": []
    },
    {
        "id": "b5a08c1df63e729e",
        "type": "ui-gauge",
        "z": "1d8c128a74b26a4c",
        "name": "vibracion",
        "group": "fe3bc1800bd1234d",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Vibración",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "Índice de Vibración",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "1",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "1",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1000,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "873002c0b0bc2447",
        "type": "ui-text",
        "z": "1d8c128a74b26a4c",
        "group": "1673bc6579bda53e",
        "order": 1,
        "width": 3,
        "height": 0,
        "name": "Operador",
        "label": "Operador en turno: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 680,
        "y": 460,
        "wires": []
    },
    {
        "id": "d449a0218f5bb920",
        "type": "ui-text",
        "z": "1d8c128a74b26a4c",
        "group": "1673bc6579bda53e",
        "order": 3,
        "width": 2,
        "height": 0,
        "name": "horaEntrada",
        "label": "Hora entrada: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.entrada",
        "valueType": "msg",
        "x": 730,
        "y": 540,
        "wires": []
    },
    {
        "id": "f7b7eea68eff085f",
        "type": "ui-text",
        "z": "1d8c128a74b26a4c",
        "group": "fe3bc1800bd1234d",
        "order": 3,
        "width": 2,
        "height": 0,
        "name": "corriente",
        "label": "Corriente = ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 660,
        "y": 760,
        "wires": []
    },
    {
        "id": "26c8ace94c04f439",
        "type": "ui-gauge",
        "z": "1d8c128a74b26a4c",
        "name": "corriente",
        "group": "fe3bc1800bd1234d",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Corriente",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "A",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "0A",
                "textType": "str"
            },
            {
                "from": "30",
                "color": "#ea5353",
                "text": "30A",
                "textType": "str"
            }
        ],
        "min": 0,
        "max": "30",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 840,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "b6729bd6a2610f9f",
        "type": "mqtt in",
        "z": "1d8c128a74b26a4c",
        "name": "",
        "topic": "datos/microparo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1bdbd5fea9c43a9d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 1020,
        "wires": [
            [
                "7ded15137f768207",
                "87b4ac5ae5cebafe"
            ]
        ]
    },
    {
        "id": "7ded15137f768207",
        "type": "debug",
        "z": "1d8c128a74b26a4c",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 1140,
        "wires": []
    },
    {
        "id": "87b4ac5ae5cebafe",
        "type": "function",
        "z": "1d8c128a74b26a4c",
        "name": "dividirDatosBotonera",
        "func": "// Ejemplo de payload: \"ID:BUTTON;ESTADO:verdadero;MID:3\"\nlet payload = msg.payload;\n\n// Separar parámetros por ';'\nlet parts = payload.split(';');\nlet data = {};\n\nparts.forEach(part => {\n    let keyValue = part.split(':');\n    if (keyValue.length === 2) {\n        let key = keyValue[0].trim();\n        let value = keyValue[1].trim();\n        data[key] = value;\n    }\n});\n\n// Convertir ESTADO a boolean\nlet estado = (data.ESTADO === \"verdadero\");\n\n// Convertir MID a número\nlet mid = parseInt(data.MID);\n\n// Salida estructurada\nmsg.payload = {\n    id: data.ID || null,\n    estado: estado,\n    mid: mid\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1020,
        "wires": [
            [
                "b53d3b164e992330"
            ]
        ]
    },
    {
        "id": "b53d3b164e992330",
        "type": "function",
        "z": "1d8c128a74b26a4c",
        "name": "visualizarDatos",
        "func": "// Recibir datos del mensaje\nlet estado = msg.payload.estado;   // true / false\nlet mid = msg.payload.mid;         // 1, 2 o 3\n\n// Cargar estados previos desde el contexto\nlet m1 = context.get('m1') || false;\nlet m2 = context.get('m2') || false;\nlet m3 = context.get('m3') || false;\n\n// Actualizar solo el que cambió\nif (mid === 1) m1 = estado;\nif (mid === 2) m2 = estado;\nif (mid === 3) m3 = estado;\n\n// Guardar nuevamente en contexto\ncontext.set('m1', m1);\ncontext.set('m2', m2);\ncontext.set('m3', m3);\n\n// Determinar texto según el microparo activo\nlet texto;\n\nif (m1 === false && m2 === false && m3 === false) {\n    texto = \"No hay microparo activo\";\n} else {\n    if (m1 === true) texto = \"Motivos personales\";\n    if (m2 === true) texto = \"Cargando material\";\n    if (m3 === true) texto = \"Accidente\";\n}\n\n// Este será mostrado en el nodo Texto del dashboard\nmsg.payload = texto;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1020,
        "wires": [
            [
                "87ad1392a1ea4bb6"
            ]
        ]
    },
    {
        "id": "87ad1392a1ea4bb6",
        "type": "ui-text",
        "z": "1d8c128a74b26a4c",
        "group": "fce03de03151db70",
        "order": 0,
        "width": 3,
        "height": 0,
        "name": "microparo",
        "label": "Microparo: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 900,
        "y": 1020,
        "wires": []
    },
    {
        "id": "ad9435d78ddbba88",
        "type": "ui-text",
        "z": "1d8c128a74b26a4c",
        "group": "1673bc6579bda53e",
        "order": 5,
        "width": 2,
        "height": 0,
        "name": "horaSalida",
        "label": "Hora Salida: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.salida",
        "valueType": "msg",
        "x": 730,
        "y": 580,
        "wires": []
    },
    {
        "id": "6255f6ad119a6bb6",
        "type": "ui-button",
        "z": "1d8c128a74b26a4c",
        "group": "43e788aa1d642f05",
        "name": "calibrarReposo",
        "label": "Calibrar Reposo",
        "order": 1,
        "width": 2,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 220,
        "y": 260,
        "wires": [
            [
                "6d0c08e119520881"
            ]
        ]
    },
    {
        "id": "204c5b2d634bbd02",
        "type": "ui-button",
        "z": "1d8c128a74b26a4c",
        "group": "43e788aa1d642f05",
        "name": "calibrarEnUso",
        "label": "Calibrar En Uso",
        "order": 3,
        "width": 2,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 220,
        "y": 340,
        "wires": [
            [
                "a2f87ac7de74c8b5"
            ]
        ]
    },
    {
        "id": "a2f87ac7de74c8b5",
        "type": "trigger",
        "z": "1d8c128a74b26a4c",
        "name": "calibracion",
        "op1": "Start",
        "op2": "Stop",
        "op1type": "str",
        "op2type": "str",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 450,
        "y": 340,
        "wires": [
            [
                "e758acb5f3bd93fa"
            ]
        ]
    },
    {
        "id": "9db9b6f350aa2f2a",
        "type": "ui-text",
        "z": "1d8c128a74b26a4c",
        "group": "43e788aa1d642f05",
        "order": 4,
        "width": 5,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 830,
        "y": 340,
        "wires": []
    },
    {
        "id": "e758acb5f3bd93fa",
        "type": "function",
        "z": "1d8c128a74b26a4c",
        "name": "calibracionEnUso",
        "func": "let timer = context.get('timer') || null;\nlet count = context.get('count') || 0;\nlet minValues = context.get('minValues') || { x: null, y: null, z: null };\nlet maxValues = context.get('maxValues') || { x: null, y: null, z: null };\nlet activo = context.get('activo') || false;\n\n// --- Manejo de mensajes tipo texto (Start / Stop) ---\nif (typeof msg.payload === \"string\") {\n    if (msg.payload === \"Start\") {\n        // Reiniciar variables\n        count = 0;\n        minValues = { x: null, y: null, z: null };\n        maxValues = { x: null, y: null, z: null };\n        activo = true;\n\n        node.send({ payload: \"Iniciando conteo...\" });\n\n        // Iniciar conteo de 1 segundo\n        timer = setInterval(() => {\n            count++;\n            node.send({ payload: count + \" s transcurrido\" });\n            context.set('count', count);\n        }, 1000);\n\n        context.set('timer', timer);\n        context.set('minValues', minValues);\n        context.set('maxValues', maxValues);\n        context.set('activo', activo);\n\n    } else if (msg.payload === \"Stop\") {\n        // Detener conteo y enviar resultados\n        if (timer) {\n            clearInterval(timer);\n            context.set('timer', null);\n            context.set('count', 0);\n            activo = false;\n            context.set('activo', activo);\n\n            let mins = context.get('minValues');\n            let maxs = context.get('maxValues');\n\n            // Crear string formateado\n            let salida =\n                \"Mínimos → x: \" + mins.x.toFixed(2) +\n                \" | y: \" + mins.y.toFixed(2) +\n                \" | z: \" + mins.z.toFixed(2) +\n                \"\\n\" +\n                \"Máximos → x: \" + maxs.x.toFixed(2) +\n                \" | y: \" + maxs.y.toFixed(2) +\n                \" | z: \" + maxs.z.toFixed(2);\n\n            msg.payload = salida;\n            return msg;\n        }\n    }\n    return null;\n}\n\n// --- Manejo de mensajes tipo objeto (x, y, z) ---\nif (\n    activo &&\n    typeof msg.payload === \"object\" &&\n    msg.payload.x !== undefined &&\n    msg.payload.y !== undefined &&\n    msg.payload.z !== undefined\n) {\n    let x = msg.payload.x;\n    let y = msg.payload.y;\n    let z = msg.payload.z;\n\n    // Actualizar mínimos\n    minValues.x = (minValues.x === null || x < minValues.x) ? x : minValues.x;\n    minValues.y = (minValues.y === null || y < minValues.y) ? y : minValues.y;\n    minValues.z = (minValues.z === null || z < minValues.z) ? z : minValues.z;\n\n    // Actualizar máximos\n    maxValues.x = (maxValues.x === null || x > maxValues.x) ? x : maxValues.x;\n    maxValues.y = (maxValues.y === null || y > maxValues.y) ? y : maxValues.y;\n    maxValues.z = (maxValues.z === null || z > maxValues.z) ? z : maxValues.z;\n\n    context.set('minValues', minValues);\n    context.set('maxValues', maxValues);\n}\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 340,
        "wires": [
            [
                "9db9b6f350aa2f2a"
            ]
        ]
    },
    {
        "id": "6d0c08e119520881",
        "type": "trigger",
        "z": "1d8c128a74b26a4c",
        "name": "calibracion",
        "op1": "Start",
        "op2": "Stop",
        "op1type": "str",
        "op2type": "str",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 450,
        "y": 260,
        "wires": [
            [
                "137db044b8717853"
            ]
        ]
    },
    {
        "id": "f98953ee46896ed3",
        "type": "ui-text",
        "z": "1d8c128a74b26a4c",
        "group": "43e788aa1d642f05",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 830,
        "y": 260,
        "wires": []
    },
    {
        "id": "137db044b8717853",
        "type": "function",
        "z": "1d8c128a74b26a4c",
        "name": "calibracionReposo",
        "func": "let timer = context.get('timer') || null;\nlet count = context.get('count') || 0;\nlet minValues = context.get('minValues') || { x: null, y: null, z: null };\nlet maxValues = context.get('maxValues') || { x: null, y: null, z: null };\nlet activo = context.get('activo') || false;\n\n// --- Manejo de mensajes tipo texto (Start / Stop) ---\nif (typeof msg.payload === \"string\") {\n    if (msg.payload === \"Start\") {\n        // Reiniciar variables\n        count = 0;\n        minValues = { x: null, y: null, z: null };\n        maxValues = { x: null, y: null, z: null };\n        activo = true;\n\n        node.send({ payload: \"Iniciando conteo...\" });\n\n        // Iniciar conteo de 1 segundo\n        timer = setInterval(() => {\n            count++;\n            node.send({ payload: count + \" s transcurrido\" });\n            context.set('count', count);\n        }, 1000);\n\n        context.set('timer', timer);\n        context.set('minValues', minValues);\n        context.set('maxValues', maxValues);\n        context.set('activo', activo);\n\n    } else if (msg.payload === \"Stop\") {\n        // Detener conteo y enviar resultados\n        if (timer) {\n            clearInterval(timer);\n            context.set('timer', null);\n            context.set('count', 0);\n            activo = false;\n            context.set('activo', activo);\n\n            let mins = context.get('minValues');\n            let maxs = context.get('maxValues');\n\n            // Crear string formateado\n            let salida =\n                \"Mínimos → x: \" + mins.x.toFixed(2) +\n                \" | y: \" + mins.y.toFixed(2) +\n                \" | z: \" + mins.z.toFixed(2) +\n                \"\\n\" +\n                \"Máximos → x: \" + maxs.x.toFixed(2) +\n                \" | y: \" + maxs.y.toFixed(2) +\n                \" | z: \" + maxs.z.toFixed(2);\n\n            msg.payload = salida;\n            return msg;\n        }\n    }\n    return null;\n}\n\n// --- Manejo de mensajes tipo objeto (x, y, z) ---\nif (\n    activo &&\n    typeof msg.payload === \"object\" &&\n    msg.payload.x !== undefined &&\n    msg.payload.y !== undefined &&\n    msg.payload.z !== undefined\n) {\n    let x = msg.payload.x;\n    let y = msg.payload.y;\n    let z = msg.payload.z;\n\n    // Actualizar mínimos\n    minValues.x = (minValues.x === null || x < minValues.x) ? x : minValues.x;\n    minValues.y = (minValues.y === null || y < minValues.y) ? y : minValues.y;\n    minValues.z = (minValues.z === null || z < minValues.z) ? z : minValues.z;\n\n    // Actualizar máximos\n    maxValues.x = (maxValues.x === null || x > maxValues.x) ? x : maxValues.x;\n    maxValues.y = (maxValues.y === null || y > maxValues.y) ? y : maxValues.y;\n    maxValues.z = (maxValues.z === null || z > maxValues.z) ? z : maxValues.z;\n\n    context.set('minValues', minValues);\n    context.set('maxValues', maxValues);\n}\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 260,
        "wires": [
            [
                "f98953ee46896ed3"
            ]
        ]
    },
    {
        "id": "1bdbd5fea9c43a9d",
        "type": "mqtt-broker",
        "name": "Lap_Alex",
        "broker": "10.25.86.214",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fe3bc1800bd1234d",
        "type": "ui-group",
        "name": "Indicadores",
        "page": "05e299abbf09c5b6",
        "width": 7,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "1673bc6579bda53e",
        "type": "ui-group",
        "name": "Operador",
        "page": "05e299abbf09c5b6",
        "width": 4,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "fce03de03151db70",
        "type": "ui-group",
        "name": "Microparo",
        "page": "05e299abbf09c5b6",
        "width": 3,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "43e788aa1d642f05",
        "type": "ui-group",
        "name": "Calibracion Modulo Vibración",
        "page": "05e299abbf09c5b6",
        "width": 8,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "05e299abbf09c5b6",
        "type": "ui-page",
        "name": "Truman Device Dashboard",
        "ui": "95ab7d58de70598f",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "bdc0aa05efe9a263",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "95ab7d58de70598f",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "bdc0aa05efe9a263",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "affc8cd13672d270",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.29.0"
        }
    }
]